<!DOCTYPE html>
<html>
<head>
  <title>ProjectTwo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
	<%= render partial: "layouts/navbar" %>

=======
	<% if @current_user != nil %>
	<%= render partial: "layouts/navbar" %>
	<% end %>
	
>>>>>>> e8e76d52da667b3e1ad8865a065eb01b36f1f86c
	<div class="container">
		
		 <% if flash[:notice] %>
		   <div class="alert alert-danger col-md-12" role="alert">
		     <%= flash[:notice] %>
		   </div>
		 <% end %>
	  <%= yield %>
	</div>

	<% console %>

	<script type="text/javascript">
	  app.readyAll();
	</script>

</body>
</html>
